form{
border:inset;
margin:25%;
padding:20px;
color:rgba(93, 93, 238, 0.479);
font-family:fantasy;
content: icon;
text-align: left
}
input{
border:solid;
margin:5%;
padding:2px;
color:rgba(247, 205, 128, 0.781);
}